<p><%= data.Innlent.fb[0].views %> </p>
<% if (user) { %>
    <% if (user.settings.service.fb) { %>
        <% Object.keys(data.Innlent.fb).forEach(function(key) { %>
            <article class="article news" onclick="views('<%= data.Innlent.fb[key]._id %>', 'data.Innlent.fb')">
                <!-- <a href="/article/<%= data.Innlent.fb[key]._id %> "> -->
                    <img
                        class="article__img"
                        src="<%= data.Innlent.fb[key].imageUrl %>"
                        alt="news img"
                    />
                    <img src="<%= data.Innlent.fb[key].icon %> " alt="" class="article__icon"/>
                    <p class="article__p"><%= data.Innlent.fb[key].tag %></p>
                    <h1 class="article__h1"><%= data.Innlent.fb[key].title %></h1>
                    <div class="bottom">
                        <!-- <i class="far fa-eye"></i> -->
                        <span id="time" data-fb-date="<%= data.Innlent.fb[key].date%>" data-fbtime="<%= data.Innlent.fb[key].time %>"></span>
                        <p class="time"><%= data.Innlent.fb[key].date%>, <%= data.Innlent.fb[key].time %></p>
                            <p>45<%= data.Innlent.fb[0].views %> </p>
                            <% if (data.Innlent.fb[key].bookmarked) { %>
                                <span class="material-icons">bookmark</span>
                            <% } else { %>
                                <span class="material-icons">bookmark_border</span>	
                               
                            <% } %>
                        <p data-id="<%= data.Innlent.fb[key]._id%>" data-object="data.Innlent.fb"><%= data.Innlent.fb[key].views %> </p>
                
                    </div>
                <!-- </a> -->
            </article>
        <% }) %>
        <% Object.keys(data.Erlent.fb).forEach(function(key) { %>
            <article class="article news">
                <a href="/article/<%= data.Erlent.fb[key]._id %> ">
                    <img
                        class="article__img"
                        src="<%= data.Erlent.fb[key].imageUrl %>"
                        alt="news img"
                    />
                    <img src="<%= data.Erlent.fb[key].icon %> " alt="" class="article__icon"/>
                    <p class="article__p"><%= data.Erlent.fb[key].tag %></p>
                    <h1 class="article__h1"><%= data.Erlent.fb[key].title %></h1>
                    <div class="bottom">
                        <!-- <i class="far fa-eye"></i> -->
                    </div>
                </a>
            </article>
        <% }) %>
    <% } %>	
    <% if (user.settings.service.mbl) { %>
        <% Object.keys(data.Innlent.mbl).forEach(function(key) { %>
            <article class="article news">
                <a href="/article/<%= data.Innlent.mbl[key]._id %> ">
                    <img
                        class="article__img"
                        src="<%= data.Innlent.mbl[key].imageUrl %>"
                        alt="news img"
                    />
                    <img src="<%= data.Innlent.mbl[key].icon %> " alt="" class="article__icon"/>
                    <p class="article__p"><%= data.Innlent.mbl[key].tag %></p>
                    <h1 class="article__h1"><%= data.Innlent.mbl[key].title %></h1>
                    <div class="bottom">
                        <!-- <i class="far fa-eye"></i> -->
                    </div>
                </a>
            </article>
        <% }) %>
        <% Object.keys(data.Erlent.mbl).forEach(function(key) { %>
            <article class="article news">
                <a href="/article/<%= data.Erlent.mbl[key]._id %> ">
                    <img
                        class="article__img"
                        src="<%= data.Erlent.mbl[key].imageUrl %>"
                        alt="news img"
                    />
                    <img src="<%= data.Erlent.mbl[key].icon %> " alt="" class="article__icon"/>
                    <p class="article__p"><%= data.Erlent.mbl[key].tag %></p>
                    <h1 class="article__h1"><%= data.Erlent.mbl[key].title %></h1>
                    <div class="bottom">
                        <!-- <i class="far fa-eye"></i> -->
                    </div>
                </a>
            </article>
        <% }) %>
    <% } %>				 
<% } else { %>
    <% Object.keys(data.Innlent.fb).forEach(function(key) { %>
        <article class="article news">
            <a href="/article/<%= data.Innlent.fb[key]._id %> ">
                <img
                    class="article__img"
                    src="<%= data.Innlent.fb[key].imageUrl %>"
                    alt="news img"
                />
                <img src="<%= data.Innlent.fb[key].icon %> " alt="" class="article__icon"/>
                <p class="article__p"><%= data.Innlent.fb[key].tag %></p>
                <h1 class="article__h1"><%= data.Innlent.fb[key].title %></h1>
                <div class="bottom">
                    <!-- <i class="far fa-eye"></i> -->
                    <p class="time"><%= data.Innlent.fb[key].date%>, <%= data.Innlent.fb[key].time %></p>
                    <span class="material-icons">bookmark_border</span>	

                </div>
            </a>
        </article>
    <% }) %>
<% } %>