<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" href="css/nav.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/articles.css" />



		<!-- font awesome -->
		<script src="https://use.fontawesome.com/735d08bd89.js"></script>

		<!-- favicon -->
		<link rel="icon" 
      type="image/png" 
      href="https://www.kaktus.is/favicon-32x32.png?v=49bac9fabf3f67372a0ed343bee83d36g">
		<title>🌵 | Knews</title>
	</head>
	<body>
		<%- include('../partials/header'); -%> <%- include('../partials/nav'); %>

		<header>
			<h1>ALLAR <b>ÞÍNAR</b> UPPÁHALDS FRÉTTIR Á EINUM STAÐ</h1>
			<h2>k.</h2>
			<div class="search-container">
				<form action="/action_page.php">
					<label for="search">
						<input
							id="search"
							type="text"
							placeholder="LEITAÐU EFTIR “VIÐSKIPTAFRÉTTIR”"
							name="search"
						/>
					</label>
					<button type="submit">Leita</button>
					<div id="inputList"></div>
				</form>
			</div>
			<div class="triangle-pos">
				<div class="triangle-parent">
					<div class="triangle"></div>
				</div>
			</div>
			<!-- <img src="svg/triangle.svg" alt="Triangle" class="triangle"/> -->
		</header>

		<main class="wrapper">
			<%- include('../partials/mini-nav'); %>

			<div class="articles">
				<% if (user) { %>
					<% if (user.settings.fb) { %>
						<% Object.keys(data.Innlent.fb).forEach(function(key) { %>
							<article class="article news">
								<a href="/article/<%= data.Innlent.fb[key]._id %> ">
									<img
										class="article__img"
										src="<%= data.Innlent.fb[key].imageUrl %>"
										alt="news img"
									/>
									<img src="<%= data.Innlent.fb[key].icon %> " alt="" class="article__icon"/>
									<p class="article__p"><%= data.Innlent.fb[key].tag %></p>
									<h1 class="article__h1"><%= data.Innlent.fb[key].title %></h1>
									<div class="bottom">
										<!-- <i class="far fa-eye"></i> -->
										<span id="time" data-fb-date="<%= data.Innlent.fb[key].date%>" data-fbtime="<%= data.Innlent.fb[key].time %>"></span>
										<p class="time"><%= data.Innlent.fb[key].date%>, <%= data.Innlent.fb[key].time %></p>
									</div>
								</a>
							</article>
						<% }) %>
						<% Object.keys(data.Erlent.fb).forEach(function(key) { %>
							<article class="article news">
								<a href="/article/<%= data.Erlent.fb[key]._id %> ">
									<img
										class="article__img"
										src="<%= data.Erlent.fb[key].imageUrl %>"
										alt="news img"
									/>
									<img src="<%= data.Erlent.fb[key].icon %> " alt="" class="article__icon"/>
									<p class="article__p"><%= data.Erlent.fb[key].tag %></p>
									<h1 class="article__h1"><%= data.Erlent.fb[key].title %></h1>
									<div class="bottom">
										<!-- <i class="far fa-eye"></i> -->
									</div>
								</a>
							</article>
						<% }) %>
					<% } %>	
					<% if (user.settings.mbl) { %>
						<% Object.keys(data.Innlent.mbl).forEach(function(key) { %>
							<article class="article news">
								<a href="/article/<%= data.Innlent.mbl[key]._id %> ">
									<img
										class="article__img"
										src="<%= data.Innlent.mbl[key].imageUrl %>"
										alt="news img"
									/>
									<img src="<%= data.Innlent.mbl[key].icon %> " alt="" class="article__icon"/>
									<p class="article__p"><%= data.Innlent.mbl[key].tag %></p>
									<h1 class="article__h1"><%= data.Innlent.mbl[key].title %></h1>
									<div class="bottom">
										<!-- <i class="far fa-eye"></i> -->
									</div>
								</a>
							</article>
						<% }) %>
						<% Object.keys(data.Erlent.mbl).forEach(function(key) { %>
							<article class="article news">
								<a href="/article/<%= data.Erlent.mbl[key]._id %> ">
									<img
										class="article__img"
										src="<%= data.Erlent.mbl[key].imageUrl %>"
										alt="news img"
									/>
									<img src="<%= data.Erlent.mbl[key].icon %> " alt="" class="article__icon"/>
									<p class="article__p"><%= data.Erlent.mbl[key].tag %></p>
									<h1 class="article__h1"><%= data.Erlent.mbl[key].title %></h1>
									<div class="bottom">
										<!-- <i class="far fa-eye"></i> -->
									</div>
								</a>
							</article>
						<% }) %>
					<% } %>				 
				<% } else { %>
					<% Object.keys(data.Innlent.fb).forEach(function(key) { %>
						<article class="article news">
							<a href="/article/<%= data.Innlent.fb[key]._id %> ">
								<img
									class="article__img"
									src="<%= data.Innlent.fb[key].imageUrl %>"
									alt="news img"
								/>
								<img src="<%= data.Innlent.fb[key].icon %> " alt="" class="article__icon"/>
								<p class="article__p"><%= data.Innlent.fb[key].tag %></p>
								<h1 class="article__h1"><%= data.Innlent.fb[key].title %></h1>
								<div class="bottom">
									<!-- <i class="far fa-eye"></i> -->
									<p class="time"><%= data.Innlent.fb[key].date%>, <%= data.Innlent.fb[key].time %></p>
								</div>
							</a>
						</article>
					<% }) %>
				<% } %>
			</div>
		</main>

		<script src="js/index.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
		<script>
			gsap.from(".article", {
				// opacity: 0,
				rotation:"-=2",
				x: 4,
				Y: 4,
  				transformOrigin:"50% 50%",
				stagger: 0.1 // 0.1 seconds between when each ".box" element starts animating
			});



		</script>
	</body>
</html>
